// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/related-nav';

@import 'components/interruption-card';
@import 'components/card';

@import 'prototype/list';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

li:last-of-type ul {

  &::before {

    content: "";
    display: block;
    @include nhsuk-responsive-margin(2, 'bottom');
  }

}

li ul {
    margin-bottom: 0;
}
