{% set PROTOTYPEURL = "see-how-data-is-shared/v1" %}
{% set serviceName = "See how data from your health records has helped research and planning" %}
{% set contentTitle = "Check your" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

{% set study  %}
  {% if data['study'] == 'text' %}
    mobile number
  {% elif data['study'] == 'email' %}
    email address
  {% else %}
    email address
  {% endif %}
{% endset %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ contentTitle }} {{ study }}</h1>

      {% if data['study'] == 'text' %}

         <p>00789101173</p>



         {% else %}


         <p>jane.doe@gmail.com</p>


         {% endif %}


      <form action="/{{ PROTOTYPEURL }}/contact-choices/confirm-details" method="post">
        {{ radios({
          "idPrefix": "gov",
          "name": "confirmDetails",
          "fieldset": {
            "legend": {
              "text": "Is this your current " + study | trim + "?",
              "classes": "nhsuk-fieldset__legend--m"
            }
          },
          "items": [
            {
              "value": "yes",
              "text": "Yes"
            },
            {
              "value": "no",
              "text": "No"
            }
          ]
        }) }}

        <input type="submit" class="nhsuk-button" value="Continue">
        </input>

      </form>

    </div>
  </div>
{% endblock %}
