.app-list-cards {

  a {

    text-decoration: none;
    color: $color_nhsuk-black;
    display: block;

    &:hover {

      background-color: $nhsuk-link-hover-background-color;

    }
  }

}

.app-list-cards__item {

  margin-bottom: nhsuk-spacing(5);

}

.app-list-cards__heading {

  color: $color_nhsuk-blue;
  margin-bottom: nhsuk-spacing(2);
}

.app-list-cards__heading--no-link {

  color: $color_nhsuk-black;
  margin-bottom: nhsuk-spacing(2);
}

.app-list--unstyled {

  list-style-type: none;
  padding-left: 0;
}
