{% set PROTOTYPEURL = "examples" %}
{% set serviceName = "Secondary uses of data" %}
{% set contentTitle = "Examples" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        {{ contentTitle }}
      </h1>

      <p>Ready made examples to copy</p>

      <h2>Pages</h2>

      <ul class="app-list--unstyled app-list-cards">
        <li class="app-list-cards__item">
          <a href="/{{ PROTOTYPEURL }}/card">
            <h3 class="app-list-cards__heading nhsuk-heading-m">Card</h3>
            <p>In-service content card</p>
          </a>
        </li>
      </ul>

      {{ backLink({
        "href": "/",
        "text": "Back to home"
      }) }}
    </div>
  </div>
{% endblock %}
